#TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [ ]:
#define a string
a="morning"
#to reverse a string
a[::-1]
#print the reverse string
print("the reverse for the given string is",a[::-1])

the reverse for the given string is gninrom

2. Check if a string is a palindrome.

In [ ]:
# get a string from the user
string=input("enter a string")

 # Remove spaces and convert to lowercase
clean_string = string.replace(" ", "").lower()

#check if clean string is equal to string
if clean_string == clean_string[::-1]:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

enter a stringtoday is sunday
The string is not a palindrome.

3. Convert a string to uppercase

In [ ]:
#give a string
a2="sunday"

#convert to uppercase
a2.upper()

'SUNDAY'

4. Convert a string to lowercase.

In [ ]:
#give a string
a3="MONDAY"

#convert to lowercase
a3.lower()

'monday'

5. Count the number of vowels in a string

In [ ]:
#get a string from the user
a4="Good Day"

# define vowels
vowels="aeiouAEIOU"

#count vowels in a string
count=sum(a4.count(vowel) for vowel in vowels)

#print the number of vowels
print(count)

3

6. Count the number of consonants in a string

In [ ]:
#get a string from the user
a4="good afternoon"

# define consonants
consonants="bcdfghjklmnpqrstvwxyz"

#count consonants in a string
count=sum(a4.count(consonant) for consonant in consonants)

#print the number of consonants
print(count)

7

7. Remove all whitespaces from a string.

In [ ]:
#get a string
a5="practice daily"


#remove spaces
a6=a5.replace(" ", "")

# print string without spaces
print(a6)

practicedaily

8. Find the length of a string without using the `len()` function

In [ ]:
# define a string from user
s=input("enter a string")
# define initial length of the string
length=0
# use for loop to find length
for char in s:
  length+=1
# print the length of the string
print("the length of the string is",length)

enter a stringthis is the string
the length of the string is 19

9. Check if a string contains a specific word.

In [ ]:
# take a string from user
a=input("enter a string")

# define word to check in string
b=input("enter a word")

#define condition
if b in a:
  print("string contains the word",b)
else:
  print("string does not contain the word",b)

enter a stringthis is a python course
enter a wordt
string contains the word t

10. Replace a word in a string with another word.

In [ ]:
#getting a string
a6="today is holiday"

#replace a word with another word
a7=a6.replace('is','are')

#print the replaced string
print(a7)

today are holiday

11. Count the occurrences of a word in a string.

In [ ]:
#writing a string
a8="impossible"

#using count function
a8.count("s")

2

12. Find the first occurrence of a word in a string

In [ ]:
# Get a string from the user
string = input("Enter a string")

# Get the word to search for
word = input("Enter the word")

# Find the first occurrence of the word in the string
occurence=string.index(word)
print(occurence)

Enter a stringthis is new course
Enter the words
3

13. Find the last occurrence of a word in a string.

In [ ]:
# Get a string from the user
string = input("Enter a string")

# Get the word to search for
word = input("Enter the word")

# Find the first occurrence of the word in the string
occurence=string.rfind(word)
print(occurence)

Enter a stringthis is a string
Enter the words
10

14. Split a string into a list of words.

In [ ]:
#writing a string
a9="data science is the best course"

#spliting the string
a9.split()

#print the splited string
print(a9.split())

['data', 'science', 'is', 'the', 'best', 'course']

15. Join a list of words into a string.

In [ ]:
#define a list of words
l=["this","is","a","string"]
string=""
#join the string
for char in l:
  string += char+" "
print(string)

this is a string

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [ ]:
#get a string from the user
b="this is a string"

#convert the spaces to underscore
b1=b.replace(" ", "_")

#print the new string
print(b1)

this_is_a_string

17. Check if a string starts with a specific word or phrase

In [ ]:
# get a string from user
s2=input("enter a string")
word=input("enter a word")
if s2[0]==word:
  print("string starts with",word)
else:
  print("string does not starts with the word",word)

enter a stringthis is not a list
enter a wordlist
string does not starts with the word list

18. Check if a string ends with a specific word or phrase.

In [ ]:
# get a string from the user
s=input("enter a string")
b=input("enter a word")
if s[-1]==b:
  print("string ends with",b)
else:
  print("string does not end with",b)

enter a stringthis is a string
enter a wordg
string ends with g

19. Convert a string to title case

In [ ]:
#define a string
b2="hello, everybody"

#converts to title case
b2.title()

'Hello, Everybody'

20. Find the longest word in a string

In [ ]:
# get a string from the user
s2=input("enter a string")
# find the longest word
longest_word=max(s2.split(),key=len)
print(longest_word)

enter a stringthis is a string containing words
containing

21. Find the shortest word in a string.

In [ ]:
# get a string from the user
s2=input("enter a string")
# find the longest word
longest_word=min(s2.split(),key=len)
print(longest_word)

enter a stringgood morning everyone
good

22. Reverse the order of words in a string

In [ ]:
#define a string
b3="this is the final result"
#reversing the order
b3[::-1]
#print the reverse order of string
print(b3[::-1])

tluser lanif eht si siht

23. Check if a string is alphanumeric.

In [ ]:
#define a string
b4="this is the string"

#print whether string is alphanum or not
print(b4.isalnum())

False

24. Extract all digits from a string.

In [ ]:
b5="i am 22 years old"
digits=[]
for char in b5:
  if char.isdigit():
    digits.append(int(char))
print("digits in string are",digits)

digits in string are [2, 2]

25. Extract all alphabets from a string.

In [ ]:
# Get a string from the user
string = input("Enter a string: ")

# Initialize an empty string to store the extracted alphabets
alphabets = ""

# Iterate through the characters in the string
for char in string:
    if char.isalpha():
        alphabets += char

# Print the extracted alphabets
print("Extracted alphabets:", alphabets)

Enter a string: this string contains alphabets
Extracted alphabets: thisstringcontainsalphabets

26. Count the number of uppercase letters in a string.

In [ ]:
# get a string from user
s=input("enter a string")
count=0
for char in s:
  if char.isupper():
    count +=1
print("the no. of uppercase letters in  the string is",count)

enter a stringBUGIOojoi
the no. of uppercase letters in  the string is 5

27. Count the number of lowercase letters in a string

In [ ]:
# get a string from user
s=input("enter a string")
count=0
for char in s:
  if char.islower():
    count +=1
print("the no. of lowercase letters in  the string is",count)

enter a stringnxdcoref
the no. of lowercase letters in  the string is 8

28. Swap the case of each character in a string.

In [ ]:
# get a string from the user
a=input("enter a string")
#define a empty string
b=""
#define a function to swap case of the string
for char in a:
  if char.isupper():
    b += char.lower()
  else:
    b+=char.upper()
print(b)

enter a stringHELLO everybody
hello EVERYBODY

29. Remove a specific word from a string.

In [ ]:
# get a string from the user
s=input("enter a string")

#define the word you want to remove
a= input("enter a word to remove")

#use replace function
s1=s.replace(a,"")

#print the final string
print("the string is",s1)

enter a stringanshika
enter a word to removeh
the string is ansika

30. Check if a string is a valid email address

In [ ]:
# get a string from user
email=input("enter a email address")

if len(email)>=8 :
  char="@"
  if char in email:
      print("email address is valid")
  else:
     print("email address is  not valid")
else :
  print("email should contain 8 characters")

enter a email addressanshi@1234
email address is valid

31. Extract the username from an email address string.

In [ ]:
# get a email from user
email=input("enter a email")
username=email.split('@')[0]
print(username)

enter a emailanshi1234@gmail.com
anshi1234

32. Extract the domain name from an email address string.

In [ ]:
# get a email from user
email=input("enter a email")
domain=email.split('@')[1]
print(domain)

enter a emailanshi@gmail.com
gmail.com

33. Replace multiple spaces in a string with a single space.

In [ ]:
# get a string from the user
s=input("enter a string")
s.replace("   "," ")

enter   a   stringthis   is   a   string

'this is a string'

34. Check if a string is a valid URL.

In [ ]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

35. Extract the protocol (http or https) from a URL string.

In [ ]:
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None
# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

36. Find the frequency of each character in a string.

In [ ]:
from collections import Counter

my_list = [1, 2, 3, 1, 2, 3, 4, 5, 1, 2]
counter_result = Counter(my_list)

print(counter_result)

Counter({1: 3, 2: 3, 3: 2, 4: 1, 5: 1})

37. Remove all punctuation from a string

38.Check if a string contains only digits.

In [ ]:
#get a string from the user
s=input("enter a string")
# check if a string contains only digits.
if s.isdigit():
  print("the string contains only digits")
else:
  print("the string does not contain only digits")

enter a string142536
the string contains only digits

39. Check if a string contains only alphabets.

In [ ]:
#get a string from the user
s=input("enter a string")
# check if a string contains only alphabets.
if s.isalpha():
  print("the string contains only alphabets")
else:
  print("the string does not contain only alphabets")

enter a stringanshika
the string contains only alphabets

40. Convert a string to a list of characters.

In [ ]:
# get a string from the user
s1=input("enter a string")
l=[]
#converting the string to the list of characters
for char in s1:
  l.append(char)
print(l)

enter a stringthis is a string
['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g']

41. Check if two strings are anagrams.

In [ ]:
def is_anagrams(str1,str2):
  ## remove spaces and convert into lowercase
  str1=str1.replace(" ","").lower()
  str2= str2.replace(" ","").lower()
  return sorted(str1)== sorted(str2)
str1="listen"
str2="silent"
result=is_anagrams(str1,str2)
print(result)

True

42. Encode a string using a Caesar cipher

In [ ]:
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

43. Decode a Caesar cipher encoded string.

In [ ]:
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

44. Find the most frequent word in a string.

In [1]:
import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter(words)

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]




return most_common_word

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find the most frequent word
most_common = most_frequent_word(input_str)

# Print the result
print("Most frequent word:", most_common)

SyntaxError: ignored


45. Find all unique words in a string.

In [ ]:
def find_unique(string):
  words=string.split()
  unique_words=set(words)
  unique_words_list=list(unique_words)
  return unique_words_list
string="this is a string . this string contains repeated words"
result=find_unique(string)
print(result)

['words', 'string', '.', 'this', 'repeated', 'contains', 'a', 'is']

#List Based Practice Problem :

1. Create a list with integers from 1 to 10

In [ ]:
#define a string having integers from 1 to 10
l1=[1,2,3,4,5,6,7,8,9,10]

2.Find the length of a list without using the `len()` function.

In [ ]:
#take a input from user
l2=[1,"anshika",True,15.36,"rajput"]
count=0
#using the for loop
for i in l2:
  count+=1
print("the length of the list is",count)

the length of the list is 5

3. Append an element to the end of a list.

In [ ]:
#define a list
l3=[12.58,"sum",3245,True,False]
#append a element
l3.append("diffrence")
#print thelist again
print(l3)

[12.58, 'sum', 3245, True, False, 'diffrence']

4. Insert an element at a specific index in a list

In [ ]:
#define a list
l = ["Python", "Swift", "C++"]
#use insert function to insert element at specific place
l1=l.insert(1,"machine learning")
#print the list with new element
print(l)

['Python', 'machine learning', 'Swift', 'C++']

5. Remove an element from a list by its value.

In [ ]:
# define a list
l4=["anshi","rajput","course"]
# define function to remove element by value
l4.remove("rajput")
# print new list
print(l4)

['anshi', 'course']

6. Remove an element from a list by its index

In [ ]:
# define a list
l4=[1,2,3,4,5,6]
# define function to remove element by index
l4.remove(3)
# print new list
print(l4)

[1, 2, 4, 5, 6]

7. Check if an element exists in a list.

In [ ]:
# define a list
l5 = [1, 2, 3, 4, 5]

# Check if the element 3 exists in the list
if 3 in l5:
    print("Element 3 exists in the list")
else:
    print("Element 3 does not exist in the list")

Element 3 exists in the list

8. Find the index of the first occurrence of an element in a list.

In [ ]:
# define a list
l6 = [56.35,16.25,25.36,14.69,458.36,16.25]

# Find the index of the first occurrence of the element 16.25
index = l6.index(16.25)
# print the index of first occurence
print("Index of the first occurrence of 16.25:", index)

Index of the first occurrence of 16.25: 1

9. Count the occurrences of an element in a list

In [ ]:
# define a list
l7 = [56.35,16.25,25.36,14.69,458.36,16.25]

# Find the occurrence of the element 16.25
count = l7.count(16.25)
# print the occurence
print(" occurrence of 16.25 is", count)

 occurrence of 16.25 is 2

10. Reverse the order of elements in a list

In [ ]:
# define a list
l8=["day",12.25,True,29]
#reverse the order of elements
l8[::-1]
# print the reverse order
print(" the reverse order of the string is",l8[::-1])

 the reverse order of the string is [29, True, 12.25, 'day']

11. Sort the list in the ascending order

In [ ]:
# define a list
l9=[2,8,1,7,10,6,12]
# sort the list
l9.sort()
# print the list after sorting
print(l9)

[1, 2, 6, 7, 8, 10, 12]

12. Sort a list in descending order.

In [ ]:
# define a list
l9=[2,8,1,7,10,6,12]
# sort the list
l9.sort(reverse=True)
# print the list after sorting
print(l9)

[12, 10, 8, 7, 6, 2, 1]

13. Create a list of even numbers from 1 to 20

In [ ]:
even_numbers = [num for num in range(1, 21) if num % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20

In [ ]:
odd_numbers = [num for num in range(1, 21) if num % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [ ]:
numbers=[3,5,6,9,23,56,14]
sum_of_numbers =0
for num in numbers:
  sum_of_numbers+=num
print("sum of the list is",sum_of_numbers)

sum of the list is 116

16. Find the maximum value in a list

In [ ]:
# define a list
h=[2,9,15,28,1,14]
# use max function
h1=max(h)
#print max value
print(h1)

28

17. Find the minimum value in a list.

In [ ]:
# define a list
h=[2,9,15,28,1,14]
# use min function
h1=min(h)
#print min value
print(h1)

1

18. Create a list of squares of numbers from 1 to 10.

In [ ]:
# define a range and print the squares of the numbers
for num in range(1,11):
  print(num**2,end=" ")

1 4 9 16 25 36 49 64 81 100

19. Create a list of random numbers

In [ ]:
import random

# Generate a list of 10 random integers between 1 and 100
random_numbers = [random.randint(1, 100) for i in range(10)]

print(random_numbers)

[83, 3, 50, 45, 99, 8, 32, 50, 32, 30]

20. Remove duplicates from a list

In [ ]:
# define a list
l2=["yes",12.36,"yes",15,15]
#convert the list into set to remove duplicates
l2=set(l2)
unique_l2=list(l2)
print(unique_l2)

['yes', 12.36, 15]

21. Find the common elements between two lists.

In [ ]:
l1=[1,2,3,4,5]
l2=[1,2,3,4,6]
for i in l1:
  if i in l2:
    print(i)

1
2
3
4

22. Find the difference between two lists.

In [ ]:
l1=[1,2,3,4,5]
l2=[1,2,3,4,6]
for i in l1:
  if i not in l2:
    print(i)
for j in l2:
  if j not in l1:
    print(j)

5
6

23. Merge two lists.

In [ ]:
# define two lists
l2=[2,5,9,6,7,8]
l3=[10,12,15,18,95]
# add both lists
l2+l3
#print merged list
print(l2+l3)

[2, 5, 9, 6, 7, 8, 10, 12, 15, 18, 95]

24. Multiply all elements in a list by 2

In [ ]:
l=(1,2,3,4,5)
for i in l:
  print(i*2)

2
4
6
8
10

25. Filter out all even numbers from a list.

In [ ]:
l3=[1,2,3,4,5,6,7,8,9,10]
result=[num for num in l3 if num%2 ==0]
print(result)

[2, 4, 6, 8, 10]

26. Convert a list of strings to a list of integers

In [ ]:
list=["1","2","3","4"]
list1 =[]
for i in list:
  list1.append(int(i))
print(list1)

[1, 2, 3, 4]

27. Convert a list of integers to a list of strings.

In [ ]:
# define a list
l=[1,2,3,4,5]
l1=[]
for i in l:
  l1.append(str(i))
print(l1)

['1', '2', '3', '4', '5']

28. Flatten a nested list

In [ ]:
def flatten_list(nested_list):
    flattened_list = []
    for element in nested_list:
        if isinstance(element, list):
            flattened_list.extend(flatten_list(element))
        else:
            flattened_list.append(element)
    return flattened_list

# Example usage:
nested_list = [1, [2, 3, [4, 5]], 6, [7, [8, 9]]]
flattened_list = flatten_list(nested_list)

print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
def fib(n):
  fib_list=[0,1]
  for i in range(2, n):
        next_fibonacci = fib_list[i - 1] + fib_list[i - 2]
        fib_list.append(next_fibonacci)

  return fib_list
fib_numbers=fib(5)## let n=5
print(fib_numbers)

[0, 1, 1, 2, 3]

30. Check if a list is sorted

In [ ]:
l = [10, 11, 12, 13, 14, 15]

# Create a sorted version of the list
sorted_list = sorted(l)

# Compare the original list with the sorted version
if l == sorted_list:
    print("yes")
else:
    print("no")

yes

31. Rotate a list to the left by `n` positions

In [ ]:
# Function to rotate a list to the left by n positions
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[n:] + lst[:n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

32. Rotate a list to the right by `n` positions.

In [ ]:
# Function to rotate a list to the right by n positions
def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[-n:] + lst[:-n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the right by n positions
rotated_list = rotate_right(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

33. Create a list of prime numbers up to 50.

In [ ]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate a list of prime numbers up to 50
prime_numbers = [num for num in range(51) if is_prime(num)]

print(prime_numbers)

34. Split a list into chunks of size `n`

In [ ]:
def chunk_list(input_list, chunk_size):
    return [input_list[i:i + chunk_size] for i in range(0, len(input_list), chunk_size)]

# Example usage:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3
result = chunk_list(my_list, chunk_size)

print(result)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

35. Find the second largest number in a list.

In [ ]:
def second_largest(numbers):
    # Ensure that the list has at least two elements
    if len(numbers) < 2:
        return "List must have at least two elements."

    # Find the maximum and second maximum using sorting
    sorted_numbers = sorted(set(numbers), reverse=True)
    return sorted_numbers[1]

# Example usage:
my_list = [10, 5, 8, 12, 7, 3, 15]
result = second_largest(my_list)

print(f"The second largest number is: {result}")

The second largest number is: 12

36. Replace every element in a list with its square

In [ ]:
# define a list
l=[2,4,6,8]
l1=[]
for i in l:
  l1.append(i**2)
print(l1)

[4, 16, 36, 64]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [ ]:
# Example list
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Convert list to dictionary using dictionary comprehension
my_dict = {element: index for index, element in enumerate(my_list)}

# Print the resulting dictionary
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

38. Shuffle the elements of a list randomly

In [ ]:
import random

# Example list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Shuffle the list randomly
random.shuffle(my_list)

# Print the shuffled list
print("Shuffled list:", my_list)

Shuffled list: [2, 3, 7, 5, 1, 4, 10, 8, 6, 9]

39. Create a list of the first 10 factorial numbers

In [ ]:
def fac(n):
  if n<=1:
    return 1
  elif n>1:
    return n* fac(n-1)
  else:
    return "invalid input"
factorial_number= [fac(i) for i in range(10)]
print(factorial_number)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [ ]:
# Function to check if two lists have at least one element in common
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

# Example lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Check if the two lists have at least one element in common
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

41. Remove all elements from a list.

In [ ]:
# Example list
my_list = [1, 2, 3, 4, 5]

# Clear all elements from the list
my_list.clear()

# Print the empty list
print("Empty list:", my_list)

Empty list: []

42. Replace negative numbers in a list with 0.

In [ ]:
# Example list
my_list = [10, -5, 20, -15, 30, -25]

# Step 1: Iterate through the list and replace negative numbers with 0
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

# Print the list after replacing negative numbers with 0
print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0]

43. Convert a string into a list of words.

In [ ]:
## get a string from the user
string=input("enter a string")
## split into words
words=string.split()

print(words)

enter a stringmy self anshika rajput
['my', 'self', 'anshika', 'rajput']

44. Convert a list of words into a string

In [ ]:
# Example list of words
word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]

# Convert the list of words into a string
my_string = " ".join(word_list)

# Print the resulting string
print("Converted string:", my_string)

Converted string: Hello, this is a sample sentence.

45. Create a list of the first `n` powers of 2.

In [ ]:
# Specify the value of n
n = 5

# Create a list of the first n powers of 2 using a loop
power_list = [2 ** i for i in range(n)]

# Print the list of powers of 2
print("List of the first", n, "powers of 2:", power_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

46. Find the longest string in a list of strings

In [ ]:
string_list=["anshika","rajput","pwskills","datascience"]
longest_string=""
for i in string_list:
  if len(i)>len(longest_string):
    longest_string=i
print("the longest string is",longest_string)

the longest string is datascience

47. Find the shortest string in a list of strings.

In [ ]:
string_list=["anshika","rajput","pwskills","datascience"]
shortest_string=string_list[0]
for i in string_list:
  if len(i)<len(shortest_string):
    shortest_string=i
print("the shortest string is",shortest_string)

the shortest string is rajput

48. Create a list of the first `n` triangular numbers.

In [ ]:
# Function to calculate triangular numbers
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence

In [ ]:
# Function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

50. Swap two elements in a list by their indices

In [ ]:
# Example list
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the list after swapping
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

1. Create a tuple with integers from 1 to 5

##Tuple Based Practice Problem :
----

1. Create a tuple with integers from 1 to 5.

In [ ]:
t=(1,2,3,4,5)

2. Access the third element of a tuple

In [ ]:
# define a tuple
t1=(1,"anshi",152.36,True)
#find third element using idex
t1[2]

152.36

3. Find the length of a tuple without using the `len()` function.

In [ ]:
t1=(1,"anshi",152.36,True)
count=0
for i in t1:
  count+=1
print(" the length of the tuple is",count)

 the length of the tuple is 4

4. Count the occurrences of an element in a tuple

In [ ]:
# define a tuple
t2=(12,15,12,16,12,18,19)
# count the occurence of element
count=t2.count(12)
# print the occurence of element
print(count)

3

5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
# define a tuple
t2=(12,15,12,16,12,18,19)
# use index function to find first occurence
index=t2.index(12)
#print the first occurence
print(index)

0

6. Check if an element exists in a tuple.

In [ ]:
# define a tuple
t3=(1,2,3,4,5,6,7)
if 2 in t3:
  print("element exists in tuple")
else:
  print("element does not exists in tuple")

element exists in tuple

7. Convert a tuple to a list

In [ ]:
# define a tuple
t4=("pw","skills",True)
# change the type to list
list=[i for i in t4]
print(list)

['pw', 'skills', True]

8. Convert a list to a tuple.

In [ ]:
# define a list
t5=['pw', 'skills', 15, True]
# change the type to tuple
tuple(t5)

('pw', 'skills', 15, True)

9. Unpack the elements of a tuple into variables.

In [ ]:
my_tuple = (1, 2, 3)

# Unpack the elements into variables
a, b, c = my_tuple

# Now, a, b, and c hold the values from the tuple
print("a:", a)
print("b:", b)
print("c:", c)

a: 1
b: 2
c: 3

10. Create a tuple of even numbers from 1 to 10

In [ ]:
# define a empty list
my_list=[]
# define the condition using for and if function
for i in range(0,11):
  if i%2==0:
    my_list.append(i)
# change the type to tuple
print(tuple(my_list))

(0, 2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10

In [ ]:
# define a empty list
list=[]
# define the condition using for and if function
for i in range(0,11):
  if i%2!=0:
    list.append(i)
# change the type to tuple
t=tuple(list)
print(t)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [ ]:
# define two tuples
t1=(1,2,3,4,5,6,7)
t2=(10,11,13,14,15)
#concatenate both tuples
t3= t1+t2
print(t3)

(1, 2, 3, 4, 5, 6, 7, 10, 11, 13, 14, 15)

13. Repeat a tuple three times

In [ ]:
# define a tuple
t4=(5,6,9,8,7)
# repeat tuple three times
t4*3

(5, 6, 9, 8, 7, 5, 6, 9, 8, 7, 5, 6, 9, 8, 7)

14. Check if a tuple is empty.

In [ ]:
# define a empty tuple
t7=()
# Check if the tuple is empty
if len(t7)==0:
  print("the tuple is empty")
else:
  print("the tuple is not empty")

the tuple is empty

In [ ]:
t7=((1,2),(3,4),5,6)

16. Access the first element of a nested tuple.

In [ ]:
t7=((1,2),(3,4),5,6)
#access the first element
t7[0]
#print the first element
print(t7[0])

(1, 2)

17. Create a tuple with a single element.

In [ ]:
#tuple with single element
t=(1,)

18. Compare two tuples.

In [ ]:
# define two tuple
tuple1=(1,2,3,4,5)
tuple2=(1,2,3,4,6)
# compare two tuples
if tuple1< tuple2:
  print("tuple 2 is greater")
elif tuple1>tuple2:
  print("tuple  1 is greater")
else:
  print("tuples are equal")

tuple 2 is greater

19. Delete a tuple

In [ ]:
# define a tuple
t=(4,5,6)
#delete tuple
del(t)

20. Slice a tuple.

In [ ]:
# define a tuple
t1=(9,8,7,6,5,4,3,2,1)
#slice the tuple
t1[1:5]

(8, 7, 6, 5)

21. Find the maximum value in a tuple

In [ ]:
# define a tuple
t2=(12,1,5,18,16)
#find maximum value
max(t2)

18

22. Find the minimum value in a tuple.

In [ ]:
# define a tuple
t3=(7,8,9,1,5,4,6)
# find the minimum value
min(t3)

1

23. Convert a string to a tuple of characters

In [ ]:
# define a string
s="hello everyone"
# convert the string to tuple
tuple(s)

('h', 'e', 'l', 'l', 'o', ' ', 'e', 'v', 'e', 'r', 'y', 'o', 'n', 'e')

24. Convert a tuple of characters to a string.

In [ ]:
# define  a tuple
t=('p','w','s','k','i','l','l','s')
# convert the tuple to string
str(t)

"('p', 'w', 's', 'k', 'i', 'l', 'l', 's')"

25. Create a tuple from multiple data types.

In [ ]:
t4=("hello",12,True,15.98)
print(t4)

('hello', 12, True, 15.98)

26. Check if two tuples are identical.

In [ ]:
# define two tuples
t1=(1,2,3,4,5)
t2=(1,2,3,4,6)
# compare both  tuple
if t1==t2:
  print("tupels are identical")
else:
  print("tupels are not identical")

tupels are not identical

27. Sort the elements of a tuple.

In [ ]:
t5=(15,48,12,1,6,20)
sorted(t5)

[1, 6, 12, 15, 20, 48]

28. Convert a tuple of integers to a tuple of strings.

In [ ]:
# define a tuple of integers
t=(1,2,3,4,5)
#convert it to tuple of strings
str(t)

'(1, 2, 3, 4, 5)'

29. Convert a tuple of strings to a tuple of integers.

In [ ]:
# define a tuple of strings
t1=('1','2','3')
t2=()
if s in t1:
  t2+=(int(s))
print(t1)

('1', '2', '3')

30. Merge two tuples.

In [ ]:
# define two tuples
t1=(9,8,7,6,5)
t2=(4,3,2,1)
# merge both tuples
merged_tuple=t1+t2
#print  the merged tuple
print(merged_tuple)

(9, 8, 7, 6, 5, 4, 3, 2, 1)

31. Flatten a nested tuple.

In [ ]:
# Recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

32. Create a tuple of the first 5 prime numbers.

In [ ]:
#tuple of first 5 prime number
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [ ]:
# define a tuple
t1=(1,2,3,4,5)

# check whether it is palindrome or not
if t1==t1[::-1]:
  print('tuple is palindrome')
else:
  print('tuple is not palindrome')

tuple is not palindrome

34. Create a tuple of squares of numbers from 1 to 5

In [ ]:
# define a list for squares
square_list=[i**2 for i in range(0,6)]
# change the list to tuple
square_tuple=tuple(square_list)
# print the square tuple
print(square_tuple)

(0, 1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [ ]:
# define a tuple
t=(10,11,12,13,14,15,16,17,18)
#give the condition for even numbers
for i in t:
  if i%2==0:
#print even numbers
    print(i)

10
12
14
16
18

36. Multiply all elements in a tuple by 2

In [ ]:
#define a tuple
t=(2,5,3,9,4,8)
for i in t:
  print(i*2, end=' ')

4 10 6 18 8 16

37. Create a tuple of random numbers.

In [ ]:
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(10))
print("the random numbers are",random_tuple)

the random numbers are (79, 73, 28, 48, 5, 29, 74, 47, 48, 41)

38. Check if a tuple is sorted.

In [ ]:
def is_sorted(tup):
    return tup == tuple(sorted(tup))

# Example usage:
my_tuple = (1, 2, 3, 4, 5)
result = is_sorted(my_tuple)

if result:
    print("The tuple is sorted.")
else:
    print("The tuple is not sorted.")

The tuple is sorted.

39. Rotate a tuple to the left by `n` positions.

In [2]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [1]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [3]:
def generate_fibonacci(n):
    fibonacci_numbers = [0, 1]
    while len(fibonacci_numbers) < n:
        next_number = fibonacci_numbers[-1] + fibonacci_numbers[-2]
        fibonacci_numbers.append(next_number)
    return tuple(fibonacci_numbers[:n])

# Generate the first 5 Fibonacci numbers
first_5_fibonacci = generate_fibonacci(5)

print(first_5_fibonacci)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [ ]:
#get a input from user
a=input("enter a tuple")
print(a)

enter a tuple1,2,3,4,5
1,2,3,4,5

43. Swap two elements in a tuple.

In [4]:
# Original tuple
my_tuple = (1, 2, 3, 4, 5)

# Indices of the elements to be swapped
index1 = 1
index2 = 3

# Convert the tuple to a list to make modifications
tuple_list = list(my_tuple)

# Swap the elements
tuple_list[index1], tuple_list[index2] = tuple_list[index2], tuple_list[index1]

# Convert the list back to a tuple
new_tuple = tuple(tuple_list)

print(new_tuple)

(1, 4, 3, 2, 5)

44. Reverse the elements of a tuple

In [ ]:
# define a tuple
t=("anshi","rajput",18.65,18,True)
#reverse the elements
t1=t[::-1]
# print the reversed tuple
print(t1)

(True, 18, 18.65, 'rajput', 'anshi')

45. Create a tuple of the first `n` powers of 2.

In [ ]:
# let n=5 for range
n=5
power_of_2_tuple=tuple(2**i for i in range(n))
print(power_of_2_tuple)

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [ ]:
t=("anshi","rajput","pwskills")
longest_string = max(t, key=len)
print("longest string is",longest_string)

longest string is pwskills

47. Find the shortest string in a tuple of strings.

In [ ]:
t=("anshi","rajput","pwskills")
shortest_string = min(t, key=len)
print("shortest string is",shortest_string)

shortest string is anshi

48. Create a tuple of the first `n` triangular numbers.

In [ ]:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

49. Check if a tuple contains another tuple as a subsequence.

In [5]:
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [6]:
# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

#Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [ ]:
# Creating a set with integers
integer_set = set([1, 2, 3, 4, 5])

# Print the set
print(integer_set)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [ ]:
s={1,2,3,4,5,6}
s.add(9)
print(s)

{1, 2, 3, 4, 5, 6, 9}

3. Remove an element from a set.

In [ ]:
s1={9,8,7,4,5,6,1,2,3}
s1.remove(1)
print(s1)

{2, 3, 4, 5, 6, 7, 8, 9}

4. Check if an element exists in a set.

In [ ]:
s2={48,56,12,48,45,4}
s3=input("enter the number to check")
if s3 in s2:
  print(s3,"exists in set")
else:
  print(s3,"does not exists in set")

enter the number to check45
45 does not exists in set

5. Find the length of a set without using the `len()` function.

In [ ]:
s={"anshi",15.26,152,True,False}
length=0
for i in s:
  length+=1
print("the length of the set is",length)

the length of the set is 5

6. Clear all elements from a set

In [ ]:
s={"a","b","c","d","e"}
s.clear()
print("set after removing all elements is",s)

set after removing all elements is set()

7. Create a set of even numbers from 1 to 10

In [ ]:
s=set()
for i in range(1,11):
  if i%2==0:
    s.add(i)
print(s)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [ ]:
s=set()
for i in range(1,11):
  if i%2!=0:
    s.add(i)
print(s)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [ ]:
s1={1,2,3,4,5}
s2={6,7,8,9,10}
union=s1.union(s2)
print(union)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

10. Find the intersection of two sets.

In [ ]:
s1={1,2,3,4,5,6,7,8}
s2={6,7,8,9,10}
intersection=s1.intersection(s2)
print(intersection)

{8, 6, 7}

11. Find the difference between two sets.

In [ ]:
s={1,2,3,4,5,6}
s1={1,2,3,6,7}
diffrence=s.difference(s1)
print(diffrence)

{4, 5}

12. Check if a set is a subset of another set.

In [ ]:
s={1,5,3,6,9,7,45,1,2}
s1={1,2,6,45}
is_subset=s1.issubset(s)
print(is_subset)

True

13. Check if a set is a superset of another set.

In [ ]:
s={1,5,3,6,9,7,45,1,2}
s1={1,2,6,45}
is_superset=s.issuperset(s1)
print(is_superset)

True

14. Create a set from a list.

In [ ]:
a=[1,2,3,4,5]
b=set(a)
print(b)

{1, 2, 3, 4, 5}

15. Convert a set to a list.

In [7]:
a={1,2,3,4,5,6}
b=list(a)
print(b)

[1, 2, 3, 4, 5, 6]

16. Remove a random element from a set.

In [8]:
import random
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("Original set:", my_set)

# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))

# Remove the chosen random element from the set using the remove() method
my_set.remove(random_element)

# Display the updated set after removing the random element
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 2 : {1, 3, 4, 5}

17. Pop an element from a set.

In [ ]:
s={8,9,6,5,7,1}
s.pop()
print(s)

{5, 6, 7, 8, 9}

18. Check if two sets have no elements in common.

In [ ]:
s={"a","b","c","d"}
s1={"b","c"}
if s.isdisjoint(s1):
  print("no elements in common")
else:
  print("sets have common elements")

sets have common elements

19. Find the symmetric difference between two sets.

In [ ]:
s1={7,8,9,5,6}
s2={5,6,4}
symmetric_diffrence=s1.symmetric_difference(s2)
print("Symmetric difference between set1 and set2:", symmetric_diffrence)

Symmetric difference between set1 and set2: {4, 7, 8, 9}

20. Update a set with elements from another set.

In [ ]:
s={True,15.36,15}
s1={False,26.36}
updated_set=s.update(s1)
print(s)

{False, True, 26.36, 15, 15.36}

21. Create a set of the first 5 prime numbers.

In [ ]:
# Create a set of the first 5 prime numbers
prime_numbers = {2, 3, 5, 7, 11}

print("Set of the first 5 prime numbers:", prime_numbers)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [ ]:
s={1,2,3,4,5,6}
s1={1,2,3,4,5,6}
if s==s1:
  print("sets are identical")
else:
  print("sets are not identical")

sets are identical

23. Create a frozen set.

In [9]:
s=[1,2,3,4,5,6,7,8,9]
frozen_set=frozenset(s)
print("frozen set is",frozen_set)

frozen set is frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

24. Check if a set is disjoint with another set.

In [ ]:
s={10,11,12,13,14,15}
s1={16,17,18,19}
if s.isdisjoint(s1):
  print("the sets are disjoint")
else:
  print("the sets are not disjoint")

the sets are disjoint

25. Create a set of squares of numbers from 1 to 5.

In [ ]:
s=set()
for i in range(1,6):
  s.add(i**2)
print(s)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [ ]:
s={15,26,4,836,154,259,654,125,1456,136}
s1=set()
for i in s:
  if i%2==0:
    s1.add(i)
print(s1)

{4, 836, 154, 136, 654, 1456, 26}

27. Multiply all elements in a set by 2.

In [ ]:
s={15,65,48,26,47,69,25}
s1=set()
for i in s:
  s1.add(i*2)
print(s1)

{96, 130, 138, 50, 52, 30, 94}

28. Create a set of random numbers.

In [10]:
import random
n=5
randomnumber_set=set()
for i in range(n):
  random_number=random.randint(1,100)
  randomnumber_set.add(random_number)
print("the random number set is",randomnumber_set)

the random number set is {3, 35, 78, 85, 86}

29. Check if a set is empty.

In [ ]:
s={50,60,70,80}
if len(s)==0:
  print("set is empty")
else:
  print("set is not empty")

set is not empty

30. Create a nested set (hint: use frozenset).

In [ ]:
# Step 1: Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

31. Remove an element from a set using the discard method

In [ ]:
s={1,2,3,4,5,6,7}
s.discard(5)
print(s)

{1, 2, 3, 4, 6, 7}

32. Compare two sets.

In [ ]:
s={15,16,17,18}
s1={19,20,21,22}
if s==s1:
  print("sets are equal")
else:
  print("sets are not equal")

sets are not equal

33. Create a set from a string

In [ ]:
a="anshi"
b=set(a)
print(b)

{'a', 'i', 'h', 'n', 's'}

34. Convert a set of strings to a set of integers.

In [ ]:
a={"1", "2", "3", "4", "5"}
b=set()
for i in a:
  b.add(int(i))
print(b)

{1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [ ]:
a={1,2,3,4,5,6}
b=set()
for i in a:
  b.add(str(i))
print(b)

{'2', '3', '1', '4', '5', '6'}

36. Create a set from a tuple.

In [ ]:
t=(1,2,3,4,5,6)
s=set(t)
print(s)

{1, 2, 3, 4, 5, 6}

37. Convert a set to a tuple.

In [ ]:
s={5,6,7,8,9}
t=tuple(s)
print(t)

(5, 6, 7, 8, 9)

38. Find the maximum value in a set

In [ ]:
s={5,35,69,112,17,15,64,158}
maximum=max(s)
print(maximum)

158

39. Find the minimum value in a set.

In [ ]:
s={5,35,69,112,17,15,64,158}
minimum=min(s)
print(minimum)

5

40. Create a set from user input.

In [ ]:
a=input("enter a input").split()
user_set=set(a)
print(user_set)

enter a input 1 2 3 4 5 6
{'2', '3', '1', '4', '5', '6'}

41. Check if the intersection of two sets is empty.

In [ ]:

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
if set1.isdisjoint(set2):
    print("The intersection of set1 and set2 is empty.")
else:
    print("The intersection of set1 and set2 is not empty.")

The intersection of set1 and set2 is not empty.

42. Create a set of the first 5 Fibonacci numbers.

In [17]:
# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets

In [5]:
# Step 1: Define a list with duplicates
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Step 2: Convert the list to a set
unique_set = set(original_list)
# Now, 'unique_set' contains only unique elements from 'original_list'

# Step 3: Convert the set back to a list
unique_list = list(unique_set)
# Now, 'unique_list' is a list containing only unique elements

# Step 4: Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

44. Check if two sets have the same elements, regardless of their count.

In [ ]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

45. Create a set of the first `n` powers of 2.

In [ ]:
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

46. Find the common elements between a set and a list.

In [4]:
# Step 1: Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

47. Create a set of the first `n` triangular numbers

In [ ]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

48. Check if a set contains another set as a subset.

In [1]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [2]:
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

50. Merge multiple sets into one.

In [3]:
# Step 1: Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}